<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_key</key>
	<string>a5DVKi5Yp7nWp5zmsP3bp3JIr</string>
	<key>consumer_secret</key>
	<string>3WM3mD5ilxfbednAdD9HlIlwLO4qPtmDauWDSJYtMlgk0LJ6Ge</string>
</dict>
</plist>
